---
http_interactions:
- request:
    method: get
    uri: http://www.firmenwissen.de/search/suggest/companywithaddress/COMPEON%20GmbH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Basic realm="Realm"
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"timestamp":1506603216876,"status":401,"error":"Unauthorized","message":"Bad
        credentials","path":"/search/suggest/companywithaddress/COMPEON%20GmbH"}'
  recorded_at: Thu, 28 Sep 2017 12:53:36 GMT
recorded_with: VCR 3.0.3
